<div class="container">
    <div class="row">
        <h2>Your current blog posts</h2>
    </div>
    {{#if blogs.length}}
        {{#each blogs as |blog|}}
        <div class="row blog">
            <p>Blog goes here!</p>
        </div>
        {{/each}}
    {{/if}}
    <script src="./js/dashboard.js"></script>
</div>