<div class="container">
    <h2>Your current blog posts</h2>
    {{#if blogs.length}} {{#each blogs as |blog|}}
    <div class="blog">
        <div class="blog-header">
            <div class="blog-header-group">
            <h2>{{blog.title}}</h2>
            <a href="/">edit</a>
            </div>
            <p>posted by {{blog.user.name}} on {{format_date blog.date_created}}</p>
        </div>
        <div class="blog-content">
            <p>{{blog.blogtext}}</p>
        </div>
    </div>
    {{/each}} {{/if}}
    <script src="./js/dashboard.js"></script>
</div>