<div class="login-page d-flex flex-column">
    <div class="login-header p-3">
        <h2>User Sign In</h2>
    </div>
    <div class="login-body p-2">
        <form class="form d-flex flex-column">
            <div class="form-group p-2">
                <label for="login_email">Email:</label>
                <input class="form-input text-dark ms-6" type="text" id="login_email" placeholder="name@example.com"/>
            </div>
            <div class="form-group p-2">
                <label for="login_password">Password:</label>
                <input class="form-input text-dark " type="password" id="login_password" placeholder="password" />
            </div>
            <div class="form-group p-2">
                <button class="btn" id="sign_in_button" type="submit">Sign In</button>
            </div>
        </form>
    </div>
    <div class="login-signup p-3">
        <a href="/signup">Create a new user account</a>
    </div>
</div>

<script src="./js/login.js"></script>